.homepage {
  background-image: url("./assets/bg-photo.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
    margin-left: 3rem;
  }
}
